<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.2.8">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/lotaris/docker-todo-list-backend</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.WipeWorkspace/>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>msb</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Maven>
      <targets>clean
install
-e
-PbuildSource
-PcopyArtifact
-PglassfishDeploy
-Ptesting
-ssettings.xml</targets>
      <mavenName>Maven 3</mavenName>
      <pom>pom.xml</pom>
      <properties>domain.host=gf-master
domain.adminPort=4848
deployConfig.file=/artifacts/${project.build.finalName}.${project.packaging}
deployConfig.upload=false</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Maven>
      <targets>clean
install
-e
-PbuildSource
-PcopyArtifact
-ssettings.xml</targets>
      <mavenName>Maven 3</mavenName>
      <pom>pom.xml</pom>
      <properties>maven.test.skip=true</properties>
      <usePrivateRepository>false</usePrivateRepository>
      <settings class="jenkins.mvn.DefaultSettingsProvider"/>
      <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
    </hudson.tasks.Maven>
    <hudson.tasks.Shell>
    <command>GFNODES=`ls /glassfishNodes`
for gfnode in $GFNODES; do
  if [[ $gfnode == gf-node-* ]]; then
    /apache-maven-3.0.5/bin/mvn lotaris-glassfish:deploy -e -PbuildSource -PglassfishDeploy -ssettings.xml -Ddomain.host=$gfnode -Ddomain.adminPort=4848 -DdeployConfig.file=&quot;/artifacts/\${project.build.finalName}.\${project.packaging}&quot; -DdeployConfig.upload=false -f todolist-backend-ear/pom.xml
  fi
done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
