vars:
  artifacts_directory: {{ artifacts_directory }}
  glassfish_root: /glassfish4
  glassfish_host: gf-srv
  glassfish_port: 8080
  mysql_host: mysql-srv
  mysql_user: {{ mysql_user }}
  mysql_password: {{ mysql_pass }}
  mysql_port: 3306
